.agenda-wrapper {
    position: relative;
    margin-bottom: 10rem;
    .agendaColCardSpace{
        margin-top: 40px;
    }
    .agenda-col-card {
        color: #fff;
        padding: 25px 25px 60px;
        height: 100%;
        background-color: var(--primary);
        .date-desc {
            font-size: 1.5rem;
            margin-bottom: 25px;
        }
        .agenda-user-avtar {
            img {
                max-width: 220px;
            }
            h5 {
                margin-top: 25px;
            }
        }
        ul {
            li {
                text-align: center;
                padding: 20px;
                img {
                    max-width: 50px;
                    margin: 0 auto;
                }
            }
        }
        .read-more-agenda-btn {
            padding-top: 15px;
            a {
                font-weight: 600;
                text-decoration: underline;
                transition: all 0.3s ease;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &.agenda-col-card-blue {
            background-color: var(--secondary);
        }
    }
    .overlay-wrap,
    .overlay-wrap-dots {
        position: absolute;
        width: 90%;
        z-index: -1;
    }

    .overlay-wrap {
        top: 27%;
        right: 0;
        height: 78%;
        background-color: rgba(237, 28, 36, 0.2);
    }

    .overlay-wrap-dots {
        top: 22%;
        left: 0;
        height: 95%;
        background: url("assets/jnj-dots-pattern.png");
    }
}
