
.description {
    width: 100%;

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-size: 1.6rem;
            text-align: center;

            span {
                font-weight: bolder;
                color: var(--secondary);
            }
        }
    }
}