.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.common-heading {
  color: #212529;
  font-size: 3rem;
}

.hero-section {
  width: 100%;
  padding-top: min(50%, 100vh) !important;
  max-height: 100vh;
  background: url("assets/JNJ-landingpage-hero-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 10%;
  overflow: hidden;
  position: relative;
}
.hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-section-wrapper .top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
  min-height: 25px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper {
  display: flex;
  gap: 15px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper .icon img {
  filter: grayscale(100%) brightness(0%) invert(100%);
}
.hero-section-wrapper .highlights {
  flex: 10;
  overflow: hidden;
}
.hero-section-wrapper .highlights-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-wrapper .highlights-wrapper img {
  height: 100%;
  width: auto;
}
.hero-section-wrapper .scroll-more {
  flex: 3;
  width: 100%;
  overflow: hidden;
}
.hero-section-wrapper .scroll-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.hero-section-wrapper .scroll-more-wrapper img {
  height: 60%;
}/*# sourceMappingURL=hero-section.css.map */