.custom-container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.common-heading h1 {
    position: relative;
    color: #212529;
    font-size: 3rem;
    font-family: var(--font-family);
    padding-bottom: 25px;
    span.bottom-linear{
        position: absolute;
        display: inline-block;
        width: 250px;
        bottom: 0;
        left: 0;
        border-top: 1px solid var(--primary);
    }
    span.highlighted{
        color: var(--secondary);
        font-weight: 600;
    }
}

.hero-section {
    width: 100%;
    padding-top: calc(min(50%, 100vh)) !important;
    max-height: 100vh;
    background: url('assets/JNJ-landingpage-hero-image.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 10%;
    overflow: hidden;
    position: relative;

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .top-bar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            flex: 1;
            min-height: 25px;

            .top-bar-wrapper {
                display: flex;
                gap: 15px;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;

                    img {
                        filter: grayscale(100%) brightness(0%) invert(100%);
                    }
                }
            }


        }

        .highlights {
            flex: 10;
            overflow: hidden;

            &-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .scroll-more {
            flex: 3;
            width: 100%;
            overflow: hidden;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;

                img {
                    height: 60%;
                }
            }

        }
    }

}


