.location-wrapper {
    padding: 5rem 0;
    .location-wrap-img{
        padding-top: 40px;
        .location-wrap-desc{
            padding-top: 25px;
            h3{
                color: var(--primary);
                margin-bottom: 15px;
            }
            p{
                a{
                    color: var(--secondary);
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }
    .location-dots-overlay {
        position: absolute;
        top: 28%;
        right: 25px;
        height: 20%;
        background: url("assets/jnj-dots-pattern.png");
        width: 50%;
    }
    .custom-container{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 750px;
            width: 50%;
            top: 60px;
            right: 0;
            background-color: rgba(237, 28, 36, 0.2);
            z-index: -1;
        }
    }
}
