.reasons-and-learn {
    width: 100%;
    background-color: #f7f7f7;

    &-wrapper {
        width: 100%;
        background: url("assets/jnj-dots-pattern.png");

        .reasons {
            .left-col {
                max-width: 426px;
                display: flex;
                flex-direction: column;
                .h1-wrapper {
                    h1 {
                        font-size: 3rem;
                        span {
                            font-weight: bolder;
                            color: var(--secondary);
                        }
                    }

                    border-bottom: 1px solid var(--primary);
                    padding-bottom: 1rem;
                    max-width: 250px;
                }
            }
            .right-col {
                padding: 2rem;
                padding-right: 0;
                width: 100%;
                &-wrapper {
                    width: 100%;
                    height: 110%;
                    background-color: var(--primary);
                }
            }
        }
    }
}

.what-will-learn-wrapper {
    position: relative;
    padding: 8rem 0;
    background: url("assets/jnj-dots-pattern.png");
    z-index: 1;
    .common-heading{
        margin-bottom: 50px;
    }
    .overlay-wrap {
        position: absolute;
        top: 26%;
        left: 0;
        width: 62%;
        height: 70%;
        background-color: rgba(237, 28, 36, 0.2);
        z-index: -1;
    }
    .learning-col-block {
        padding-top: 40px;
        img {
            max-width: 100px;
            margin: 0 auto 15px;
        }
        h3 {
            font-weight: 500;
        }
    }
}
