:root {
    --primary: #ed1c24;
    --secondary: #006ecc;
    --font-family: 'Poppins', sans-serif;
}

.custom-container {
    max-width: 1200px;
}

.d-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.primary-large-btn {
    padding: 1.5rem 5rem;
    font-size: 2rem;
    background: var(--secondary);
    color: #fff;
    border: none;
    span {
        font-weight: bolder
    }
}

@import './hero-section.scss';
@import './description.scss';
@import './reasons-and-learns.scss';
@import './agenda.scss';
@import './location-wrap.scss';