:root {
  --primary: #ed1c24;
  --secondary: #006ecc;
  --font-family: "Poppins", sans-serif;
}

.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.primary-large-btn {
  padding: 1.5rem 5rem;
  font-size: 2rem;
  background: var(--secondary);
  color: #fff;
  border: none;
}
.primary-large-btn span {
  font-weight: bolder;
}

.hero-section {
  width: 100%;
  padding-top: min(50%, 100vh) !important;
  max-height: 100vh;
  background: url("assets/JNJ-landingpage-hero-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 10%;
  overflow: hidden;
  position: relative;
}
.hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-section-wrapper .top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
  min-height: 25px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper {
  display: flex;
  gap: 15px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.hero-section-wrapper .top-bar .top-bar-wrapper .icon img {
  filter: grayscale(100%) brightness(0%) invert(100%);
}
.hero-section-wrapper .highlights {
  flex: 10;
  overflow: hidden;
}
.hero-section-wrapper .highlights-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-wrapper .highlights-wrapper img {
  height: 100%;
  width: auto;
}
.hero-section-wrapper .scroll-more {
  flex: 3;
  width: 100%;
  overflow: hidden;
}
.hero-section-wrapper .scroll-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.hero-section-wrapper .scroll-more-wrapper img {
  height: 60%;
}

.description {
  width: 100%;
}
.description-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description-wrapper p {
  font-size: 1.6rem;
  text-align: center;
}
.description-wrapper p span {
  font-weight: bolder;
  color: var(--secondary);
}

.reasons-and-learn {
  width: 100%;
  background-color: #f7f7f7;
}
.reasons-and-learn-wrapper {
  width: 100%;
  background: url("assets/jnj-dots-pattern.png");
}
.reasons-and-learn-wrapper .reasons .left-col {
  max-width: 426px;
  display: flex;
  flex-direction: column;
}
.reasons-and-learn-wrapper .reasons .left-col .h1-wrapper {
  border-bottom: 1px solid var(--primary);
  padding-bottom: 1rem;
  max-width: 250px;
}
.reasons-and-learn-wrapper .reasons .left-col .h1-wrapper h1 {
  font-size: 3rem;
}
.reasons-and-learn-wrapper .reasons .left-col .h1-wrapper h1 span {
  font-weight: bolder;
  color: var(--secondary);
}
.reasons-and-learn-wrapper .reasons .right-col {
  padding: 2rem;
  padding-right: 0;
  width: 100%;
}
.reasons-and-learn-wrapper .reasons .right-col-wrapper {
  width: 100%;
  height: 110%;
  background-color: var(--primary);
}

.what-will-learn-wrapper {
  position: relative;
  padding: 8rem 0;
  background: url("assets/jnj-dots-pattern.png");
  z-index: 1;
}
.what-will-learn-wrapper .common-heading {
  margin-bottom: 50px;
}
.what-will-learn-wrapper .overlay-wrap {
  position: absolute;
  top: 26%;
  left: 0;
  width: 62%;
  height: 70%;
  background-color: rgba(237, 28, 36, 0.2);
  z-index: -1;
}
.what-will-learn-wrapper .learning-col-block {
  padding-top: 40px;
}
.what-will-learn-wrapper .learning-col-block img {
  max-width: 100px;
  margin: 0 auto 15px;
}
.what-will-learn-wrapper .learning-col-block h3 {
  font-weight: 500;
}

.agenda-wrapper {
  position: relative;
  margin-bottom: 10rem;
}
.agenda-wrapper .agendaColCardSpace {
  margin-top: 40px;
}
.agenda-wrapper .agenda-col-card {
  color: #fff;
  padding: 25px 25px 60px;
  height: 100%;
  background-color: var(--primary);
}
.agenda-wrapper .agenda-col-card .date-desc {
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.agenda-wrapper .agenda-col-card .agenda-user-avtar img {
  max-width: 220px;
}
.agenda-wrapper .agenda-col-card .agenda-user-avtar h5 {
  margin-top: 25px;
}
.agenda-wrapper .agenda-col-card ul li {
  text-align: center;
  padding: 20px;
}
.agenda-wrapper .agenda-col-card ul li img {
  max-width: 50px;
  margin: 0 auto;
}
.agenda-wrapper .agenda-col-card .read-more-agenda-btn {
  padding-top: 15px;
}
.agenda-wrapper .agenda-col-card .read-more-agenda-btn a {
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.agenda-wrapper .agenda-col-card .read-more-agenda-btn a:hover {
  text-decoration: none;
}
.agenda-wrapper .agenda-col-card.agenda-col-card-blue {
  background-color: var(--secondary);
}
.agenda-wrapper .overlay-wrap,
.agenda-wrapper .overlay-wrap-dots {
  position: absolute;
  width: 90%;
  z-index: -1;
}
.agenda-wrapper .overlay-wrap {
  top: 27%;
  right: 0;
  height: 78%;
  background-color: rgba(237, 28, 36, 0.2);
}
.agenda-wrapper .overlay-wrap-dots {
  top: 22%;
  left: 0;
  height: 95%;
  background: url("assets/jnj-dots-pattern.png");
}

.location-wrapper {
  padding: 5rem 0;
}
.location-wrapper .location-wrap-img {
  padding-top: 40px;
}
.location-wrapper .location-wrap-img .location-wrap-desc {
  padding-top: 25px;
}
.location-wrapper .location-wrap-img .location-wrap-desc h3 {
  color: var(--primary);
  margin-bottom: 15px;
}
.location-wrapper .location-wrap-img .location-wrap-desc p a {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
}
.location-wrapper .location-dots-overlay {
  position: absolute;
  top: 28%;
  right: 25px;
  height: 20%;
  background: url("assets/jnj-dots-pattern.png");
  width: 50%;
}
.location-wrapper .custom-container {
  position: relative;
}
.location-wrapper .custom-container::after {
  position: absolute;
  content: "";
  height: 750px;
  width: 50%;
  top: 60px;
  right: 0;
  background-color: rgba(237, 28, 36, 0.2);
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
